@import './base';

body {
  // background: #000;
  font-family: 'Share Tech Mono', monospace;
}

.todos {
  height: 100%;
  &__section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.preloader {
  &__img {
    width: 200px;
    height: 200px;
    background: url('../images/preloader.svg') no-repeat center / contain;
  }
}

.todo-card {
  padding: 60px 20px;
  max-width: 300px;
  width: 100%;
  color: #000;
  box-shadow: 3px 3px 5px 5px #000;
  background: #fff;
  &__title {
    margin: 0;
    text-align: center;
    font-size: 24px;
  }
  &__form {
    padding-top: 20px;
  }
  &__container {
    padding-top: 20px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: 250px;
    overflow-y: auto;
    color: #fff;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 2px;
    background: #000;
    animation: showIn .5s ease forwards;
    &:last-child {
      margin-bottom: 0;
    }
    &--done {
      .todo-card__text {
        color: rgba(255, 255, 255, .6);
        &:before {
          width: calc(100% + 10px);
        }
      }
      .todo-card__btn {
        background-image: url('../images/done.svg');
      }
    }
  }
  &__text {
    position: relative;
    margin: 0;
    padding-right: 15px;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: -5px;
      transform: translateY(-50%);
      width: 0;
      height: 2px;
      background: #fff;
      transition: width .3s ease;
    }
  }
  &__btn {
    width: 26px;
    height: 26px;
    font-size: 26px;
    line-height: 1;
    color: transparent;
    border: 0;
    background: url('../images/close_fat.svg') no-repeat center / 16px;
    transition: all .3s ease;
    &:focus {
      outline: none;
    }
  }
  &__footer {
    padding-top: 20px;
    text-align: center;
  }
  &__clear {
    padding-bottom: 20px;
    font: inherit;
    border: 0;
    background: url('../images/delete.svg') no-repeat center bottom / 16px;
    &:focus {
      outline: none;
    }
  }
}

.todo-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__btn {
    padding: 3px;
    font-size: 30px;
    line-height: 1;
    border: 0;
    &:focus {
      outline: none;
    }
  }
  &__input {
    margin-left: 20px;
    padding: 5px 5px 10px 5px;
    min-width: 200px;
    max-width: 100%;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #000;
    &::placeholder {
      color: #ccc;
    }
    &:focus {
      outline: none;
    }
  }
}

@keyframes showIn {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    opacity: .3;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
